@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400&display=swap");

body {
  background: #fff;
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.formDiv {
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
  box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
}
input[type=submit] {
  width: 98%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  line-height: 1.5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.creditCard {
  margin-bottom: 10%;
}
form{
  width: 100%;
  display: "block";
  justify-content: "center"; 
}

input{
  padding: .375rem .75rem;
  margin: 4px;
  font-size: 1rem;
  line-height: 0.5;
  color:#495057;
  background-color: padding-box;
  border:1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .14s;
}
